.workshop{

    &--section{
        
        overflow: hidden;
        position: absolute;
        height: 100vh;
        width: 100vw;
        // background-color: rgb(255, 255, 255);
        // background-color: #E8E8EC;
        
        // background-color: rgb(0, 0, 0);

        // event
        z-index: 1;
        height: 0vh;
        width: 0vw;
        
        transform: scale(0);

        .background__line{                
            border-right: 0.7px solid #d0d0e4 !important;         
        @for $i from 1 through 10{
            &--#{$i}{
            background-color: #E8E8EC !important;
            }
        }
        }
        
        // overflow: scroll !important;
        // overflow-x: hidden !important;
    }

    
    &__container{

        height: 100vh;
        
        // width: 80vw;
        // height: 92vh;
        
        overflow: scroll !important;
        overflow-x: hidden !important;

        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        position: relative;
        @include marginCenter;

        // event
        opacity: 0;
    }

    
    &__heading{
        // @include marginCenter;
        // margin: 3rem auto;
        // background-color: rgb(178, 243, 150);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        margin: 25vh;

        // transform: translateY(-50%) scale(0.9);
        // top: 40%;
        // text-align: center;
        z-index: 10 !important;
        
        position: relative;

        // event
        opacity:0;
        transform: scale(0.9);
        img{
            height: 5rem;
        }

        h1{
            font-size: 2rem;
            font-family: 'Kaushan Script', cursive;
        }

        h2{
            text-transform: capitalize;
            font-size: 15rem;
            font-family: 'Kaushan Script', cursive;
            position: relative;
            // z-index: 10 !important;   
            
            &::before{
                @include centerAlign;
                content: "";    
                height: 2rem;
                background-color: #E91E63;
                z-index: -1 !important;
                width: 105%;
                top: 75%
            }
        }

        h5{
            font-size: 2rem;
            font-family: Mulish;
            font-weight: 100;
            margin-bottom: 4rem;
            text-transform: capitalize;
        }

        h4{
            font-size: 2rem;
            font-family: Mulish;
            font-weight: 800;
            margin-bottom: 4rem;
            text-transform: uppercase;
            color: rgb(54, 50, 50);  
            
            display:inline-block;
            transform:scale(1,0.8) !important;
            letter-spacing: 1rem;
            margin: 2rem ;
        }

        &--link{
            // padding: 1rem;
            a{  
                font-family: Mulish;
                font-weight: 100;
                margin-top: 5rem;
                text-decoration: none;
                font-size: 2.2rem;
                color: black;
                border: 1px solid black;
                padding: 1rem 3rem;
                transition: all 0.5s;
                margin: 1rem 2rem;

                &:hover{
                    padding: 1rem 4rem;
                }
            }
            
        }

        // &:hover{
        //     transform: skewY(2deg) skewX(15deg) scale(1.1);
        //     text-shadow: .5rem 1rem 2rem rgba(black, .2);
        // }
    }

    &__about{

        width: 80vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        // event
        // opacity: 0;

        p{
            font-size: 2rem;
            // margin: 2rem;
        }

        &--1,&--2{
            // background-color: rgb(226, 167, 103);
            width: 37vw;

            h3{
                font-size: 4rem;                
                font-family: 'Kaushan Script';

                // font-family: Pridi;
                position: relative;
                margin-bottom: 2.5rem;

                &::after{
                    content: ' ';
                    position: absolute;
                    @include centerAlign;
                    // left: 0;
                    // top: 1rem;
                    margin-top: 2.5rem;
                    height: 0.03rem;
                    width: 37vw;
                    background-color: rgb(0, 0, 0);
                    // z-index: -1;
                }
            }

            p{
                font-family: Pridi;
                font-weight: 100;
                line-height: 2.5rem;
                // word-spacing: 1rem;
                letter-spacing: 0.1rem;
            }

            position: relative;

            
            &::after{
                content: ' ';
                position: absolute;
                @include centerAlign;
                // left: 0;
                top: 100%;
                margin-top: 2.5rem;
                height: 0.03rem;
                width: 37vw;
                background-color: rgb(0, 0, 0);
                // z-index: -1;
            }

        }

        &--1{
            width: 40vw;

            h3{
                &::after{
                    width: 40vw;
                }
            }
            &::after{
                width: 40vw;
            }
        }
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom:5rem;

        font-family: Mulish;

        &--heading{
            font-size: 5rem;
            margin: 5rem;
        }

        a{
            text-decoration: none;
            color: black;
        }
    }

    &__card{

        .snip0042 {
            font-family: Pridi, Arial, sans-serif;

            position: relative;
            overflow: hidden;
            margin: 20px;
            width: 33rem;
            // width: 100%;
            background: #e2e2e2;
            color: #000000;
            margin: 3rem;

            &--img{
                height: 30rem;
                width: 33rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            
            transition: all 0.5s;

            &:hover{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            }

        }

        figure.snip0042 figcaption {
        padding: 20px 30px 20px 20%;
        position: relative;
        }
        figure.snip0042 figcaption h2,
        figure.snip0042 figcaption p {
        margin: 0;
        text-align: right;
        padding: 5px 0;
        right: 0;
        width: 100%;
        }
        figure.snip0042 figcaption h2 {
        font-size: 2.3rem;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        figure.snip0042 figcaption h2 span {
        font-weight: 800;
        }
        figure.snip0042 figcaption p {
            text-transform: capitalize;
        font-size: 1.5rem;
        opacity: 0.8;
        }
        figure.snip0042 figcaption .icons {
        width: 100%;
        text-align: right;
        }
        figure.snip0042 figcaption .icons i {
        font-size: 2.5rem;
        padding: 5px;
        color: #000000;
        top: 50%;
        }
        figure.snip0042 figcaption a {
            img{
                height: 3rem;
                width: 3rem;
            }
        // opacity: 0.5;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        }
        figure.snip0042 figcaption a:hover {
        opacity: 1;
        }
        figure.snip0042 .position {
        width: 33rem;
        text-align: right;
        padding: 8px 30px 13px;
        font-size: 2rem;
        opacity: 0.8;
        font-style: italic;
        background-color: rgb(211, 208, 208);
        }
        figure.snip0042:after {
        position: absolute;
        top: 0;
        left: -20%;
        height: 110%;
        width: 30%;
        background-color: #000000;
        content: '';
        border-right: 4px solid #ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: skewX(-7deg) translateX(0px);
        transform: skewX(-7deg) translateX(0px);
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        }
        figure.snip0042.brown {
        background: #FEFEFB;
        }
        figure.snip0042.brown:after {
        background: #75242F;;
        }
        figure.snip0042.black {
        background: #FEFEFB;;
        }
        figure.snip0042.black:after {
        background: #0F1314;
        }
        figure.snip0042.yellow {
        background: #FCC681;
        }
        figure.snip0042.yellow:after {
        background: #924d10;
        }
        figure.snip0042:hover:after,
        figure.snip0042.hover:after {
        -webkit-transform: skewX(-6deg) translateX(38px);
        transform: skewX(-6deg) translateX(38px);
        }

    }
}

.event__heading--bg{
    color: rgb(29, 28, 28);
}

.event__heading{
    color: rgb(255, 255, 255);
}
