////////////////CUSTOM SCROLL BAR

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(240, 227, 227); 
    
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  
  
  /* Set the font, lean the board, position it */
  #board {

    display: none;


    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);  
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 600%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
    transition: hover 1s;

    p {
      color: #FFFF82;
    }

  }
  
  #board:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  /* Set the scrolling animation and position it */
  #content {
    animation: scroll 50s linear;
    position: absolute;
    top: 100%;
  }
  
  #title, #subtitle {
    text-align: center;
  }
  
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -170%;
      }
  }


  #lines__sphere {
    @include centerAlign;
  }


  //countdown
  #countdown {
    height: 100vh;
    // z-index: 100;
    @include centerAlign;
   }
  
  .artwork {
    height: 40%;
    @include centerAlign;      
  }

  .countdown {
    // background-color: rgb(255, 87, 87);
    font-family: 'Audiowide', cursive ;
    @include centerAlign;
    top: 85%;
    // width: 0%;
    text-align: center;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // left: 30%;

    &__coming{
      // background-color: rgba(255, 0, 0, 0.53);
      background-color: rgba(128, 126, 126, 0.53);
      color: white;
      padding: 0.5rem 2rem;  
      font-size: 2rem;
      height: 5rem;
    }

    &__container{
      background-color: rgba(128, 126, 126, 0.53);
      color: white;
      padding: 0.3rem 2rem;
      height: 5rem;
    }

    &__timer{
      display: flex;
      justify-content: space-evenly;
    }

    &__time {
      font-size: 2rem !important;
      span{
        font-size: 4rem;
        margin: 0.5rem;
      }
    }
  }


  .heading{
    

    &__primary{
      font-family: 'Audiowide';
      font-size: 10rem;
      color: rgb(243, 243, 243);

    }

    &__tertiary{
      font-family: 'Audiowide';
      font-size: 1.8rem;
      transition: all 0.4s;
      
      text-shadow: .5rem 2rem 2rem rgba(black, .2);
      
      // &:hover{
      //   // transform: skewY(2deg) skewX(15deg) scale(1.1);
      //   text-shadow: .5rem 1rem 2rem rgba(black, .2);
      // }
      
    }

  }



.background{
  
    &__lines{
        @include marginCenter;

        // width: 10%;
      position: fixed;

      display: flex;


    }

    &__line{    
      width: 10vw;
      // margin-right: 10vw;
      height: 100vh;
      border-right: 0.7px solid rgb(224, 224, 224);
      // event
      height: 0vh;
      width: 0vw;
    }

    &__back{
        position: absolute;
        left: 10vw;
        top: 10vh;
        z-index: 1;
        // event
        opacity:0;
        h1{
            font-family: 'Audiowide';
        }
        transform: translateX(-100%);
    }

    
    &__box{
        // position: fixed;
        height: 3rem;
        width: 3rem;

        &--tl{
            position: fixed;
            top: 4vh;
            left: 2vw;

            border-top: 1px solid grey;
            
            border-left: 1px solid grey;
        }

        &--tr{
            position: fixed;
            transform: translate(-100%);
            top: 4vh;
            left: 98vw;
                
            border-top: 1px solid grey;
            
            border-right: 1px solid grey;
        }

        &--bl{
            position: fixed;
            top: 96vh;
            left: 2vw;
            transform: translateY(-100%);
                
            // background-color: pink;
            
            border-bottom: 1px solid grey;
            
            border-left: 1px solid grey;
        }

        &--br{
            position: fixed;
            top: 96vh;
            left: 98vw;
            transform: translate(-100%,-100%);

            border-bottom: 1px solid grey;

            border-right: 1px solid grey;
        }
    }

    
}