////////////////CUSTOM SCROLL BAR

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(240, 227, 227); 
    
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  
  
  /* Set the font, lean the board, position it */
  #board {

    display: none;


    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);  
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 600%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
    transition: hover 1s;

    p {
      color: #FFFF82;
    }

  }
  
  #board:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  /* Set the scrolling animation and position it */
  #content {
    animation: scroll 50s linear;
    position: absolute;
    top: 100%;
  }
  
  #title, #subtitle {
    text-align: center;
  }
  
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -170%;
      }
  }


  #lines__sphere {
    @include centerAlign;
  }


  //countdown
  #countdown {
    height: 100vh;
    // z-index: 100;
    @include centerAlign;
   }
  
  .artwork {
    height: 40%;
    @include centerAlign;      
  }

  .countdown {
      
    font-family: 'Audiowide', cursive ;
    @include centerAlign;
    top: 85%;
    width: 80%;
    text-align: center;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // left: 30%;

    &__coming{
      background-color: rgba(128, 126, 126, 0.53);
      color: white;
      padding: 0.5rem 2rem;  
      font-size: 2rem;
      height: 5rem;
    }

    &__container{
      background-color: rgba(128, 126, 126, 0.53);
      color: white;
      padding: 0.3rem 2rem;
      height: 5rem;
    }

    &__timer{
      display: flex;
      justify-content: space-evenly;
    }

    &__time {
      font-size: 2rem !important;
      span{
        font-size: 4rem;
        margin: 0.5rem;
      }
    }
  }


  #background__svg{
    opacity: 1;
}