@media only screen and (max-width: $mobile-device) {
    body{
        position: relative;
        overflow: hidden;
    }

    #countdown{
        left: 33%;
        .artwork{
            height: 30%;
        }
    }
    main{
        .home{
            &__row{
                &.row{
                    &--1 > *{
                        display: none;
                    }
                    &--2 > div:last-child{
                        display: none;
                    }
                    &--3 > *{
                        display: block !important;
                    }
                    &--3{
                        height: 50%;
                        margin-top: 25vh;
                        #event_7{
                            margin-left: unset !important;
                        }
                    }
                }
                justify-content: space-around;
                width: 33vw;
                .nav__category{
                    margin: 1rem;
                    padding: 1rem;
                    span,a{
                        font-size:1.6rem;
                        line-height: 2rem;
                        padding: 0 0 0 0rem;
                        top: unset;
                        left: 85%;
                        transform: translate(-100%, -50%);
                        
                    }
                }
            }
            &__container{
                &__img{
                    img{
                        height: 6rem;
                        top:0;
                    }
                    span{
                        font-size:1.4rem;
                        top:35%;
                    }
                }
                #event_3{
                    position: absolute;
                    top:10%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                    img{
                        height: 6rem;
                        top:0;
                    }
                }
                #event_4{
                    margin-top: 55vh;
                }
            }
        }
    }
    .countdown{
        &__coming{
            font-size: 1.4rem;
            height: 4rem;
            width: fit-content;
        }
        &__container{
            width: 70vw;
            height: 4rem;
            padding: 1rem;
        }
        &__time{
            span{
                font-size: 2rem;
            }
        }
    }
    .footer{
        &__container{
            width:100vw;
        }
    }
    ::-webkit-scrollbar {
        width: 3px;  /* Remove scrollbar space */
        background: rgba(black, .2);  /* Optional: just make scrollbar invisible */
    }
    .about{
        &--section{
            overflow-y: auto;
            overflow-x: hidden;
            .background{
                &__back{
                    top:3.5vh;
                    left:16vw;
                    h1{
                        font-size: 1.4rem;
                    }
                }
            }
            .heading__tertiary{
                display: none;
            }
        }
        &__container{
            overflow-x: hidden;
            overflow-y: scroll;    
            padding-bottom: 8rem;
        }
        
        &__heading{
            font-family: 'Audiowide';
            transition: transform 0.4s;
            text-shadow: .5rem 2rem 2rem rgba(black, .2);
            margin: 3rem;
            text-align: center;
            top: 0;
            left:45%;
            h2{
                font-size: 3rem;
            }
            &--bg{
                h1{
                    font-size: 65%;
                }
            }
        }
        &__images{
            height: 45vh;
            margin-top: 45vh;
        }
        &__image{
            img{
                height: 12rem;
            }
            &--1{
                top:6vh !important;
            }
            &--2{
                top:22vh !important;
                left:5rem;
            }
            &--3{
                top:10vh !important;
                left:12rem;
            }
        }
        &__details{
            width: 85vw;
            span{
                font-size: 1.5rem;
                line-height: 2rem;
            }
            p{
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
    .sponsors{
        &--section{
            .background{
                &__back{
                    top:3.5vh;
                    left:16vw;
                    h1{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &__heading{
            h2{
                font-size: 3rem;
            }
        }
        &__row{
            margin-bottom: 2rem;
            &--heading{
                margin:1rem;
            }
        }
        &__row2{
            h4{
                font-size: 2rem;
                text-align: center;
            }
        }
        &__footer{
            a{
                margin: unset !important;
                font-size: 1.2rem;
            }
        }
    }
    .team{
        &--section{
            .background{
                &__back{
                    top:3.5vh;
                    left:16vw;
                    h1{
                        font-size: 1.4rem;
                    }
                }
            }
            .heading__primary{
                font-size: 3rem;
            }
        }
        &__heading{
            h2{
                font-size: 3rem;
            }
        }
        &__row{
            margin:unset;
        }
        &__row:last-child{
            margin-right: unset;
            padding-bottom:8rem;
        }
        &__card-img{
            img{
                height: 12rem;
                width: 12rem;
            }
        }
    }
    .workshop{
        &--section{
            .background{
                &__back{
                    top:3.5vh;
                    left:16vw;
                    h1{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &__heading{
            margin: 10vh;
            img{
                height: 13vh;
            }
            h1{
                font-size: 2rem;
                margin: 4vh;
            }
            h2{
                font-size: 4.5rem;
            }
            h2::before{
                top:35vh;
                height: 0.5rem;
                top: 75%;
            }
            h4{
                font-size: 1.4rem;
                letter-spacing: 0.1rem;
                margin-top: 8vh;
            }
            h5{
                margin:4vh;
            }
            &--link{
                margin: 5vh;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                a{
                    width: fit-content;
                    padding: 1rem 2rem;
                }
            }
        }
        &__about{
            margin-bottom: 0;
            &--1,&--2{
                width: 80vw;
                margin-bottom: 10vh;
                h3{
                    text-align: center;
                }
                p{
                    text-align: justify;
                    line-height: 2rem;
                    font-size: 1.6rem;
                }
            }
        }
        &__cards{
            margin-bottom: 0;
            &--heading{
                font-size: 4rem;
            }
        }
        &__cards:last-child{
            margin-bottom: 5rem;
        }
        &__card{
            figure.snip0042{
                width: 33rem;
                &--img{
                    height: 45vh;
                    width: 33rem;
                }
                figcaption{
                    padding:5px 15px 5px 25%;
                    h2{
                        font-size: 1.8rem;
                    }
                }
                .position{
                    width: 33rem;
                    font-size: 1.8rem;
                    padding: 10px 0 10px 0;
                    text-align: center;
                }
            }
            figure.snip0042:after{
                left:-36%;
                width: 36%;
                -webkit-transform: skewX( -18deg ) translateX(0px);
                transform: skewX(-18deg) translateX(0px)
            }
            
            
        }
    }
}